.main {padding-bottom: 5em};

// body, .back-to-top, ::-webkit-scrollbar-track {
//     background-color: #eceff1;
// }

.post-body {
    margin-top: 4em !important;
}

.brand {
    font-family: 'glyph-correction', 'Long Cang', 'EB Garamond', sans-serif;
    //font-family: 'Amstelvar', sans-serif;
    font-weight: bold;
    font-size: 2em;
    line-height: 1;
}

//.header-wrapper{
//  background: #ffffff !important;
//}

.nav {
    //font-family: 'Lato', sans-serif;

    //font-family: 'glyph-correction',  'EB Garamond', sans-serif;
    //font-weight: bold;
    font-size: 1.2em;
    line-height: 1;
}

.home .poetry {
  padding: 3.5em 1em;
  font-family: 'glyph-correction', 'Long Cang', 'EB Garamond', sans-serif;
  //font-weight: bold;
  font-size: 2.5em;
}

.post {
  //background-color: #fcfaf2;
  //background-color: #E3E4E6;
  //
    padding: 6em;
    margin: -6em;
}

//.header-wrapper{
//  padding: 1.5em 0;
//}
//.single .main-inner {
//  width: 42em;
//}

//@font-face {
//    font-family: 'Amstelvar';
//    font-display: swap;
//    src: url('#{$baseRelURL}/fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
//         url('#{$baseRelURL}/fonts/Amstelvar-Roman-VF.woff2') format('woff2');
//    font-weight: 100 900;
//    font-stretch: 50% 150%;
//    font-style: normal;
//}

//.post-title {
//    font-family: 'glyph-correction', 'Amstelvar', 'Noto Serif SC', serif;
//    font-variation-settings:
//        'wght' 550,
//        'opsz' 60,
//        'YOPQ' 90;
//}

